<div class="container">
  <div class="row">
    <div class="mx-aout px-3">
      <h1>
        welcome to
        <i class = "fas fa-book" aria-hidden="true"></i>
        Bookers!
      </h1>
    </div>
  </div>
</div>